#ledArray
{
    width: max-content;
    background-color: rgb(120, 100, 120);
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;

}

.line
{
    display: flex;
}

.led
{
    width: 2em;
    height: 2em;

    border-radius: 0.2em;

    margin: 0.7em;

    transform: rotate(45deg);
}